@model TuitionManagementSystem.Web.Features.Homework.GetAssignmentDetail.GetAssignmentDetailsResponse



<div class="container py-4">

    <!-- Course Title -->
    <div class="mb-4">
        <h3>@Model.Title</h3>
        <p class="text-muted">@Model.Description</p>
    </div>

    <div class="row text-center mb-4">
        <div class="col-md-4">
            <div class="bg-light p-3 rounded shadow-sm">
                <h5 class="mb-1">@Model.TotalStudents</h5>
                <small class="text-muted">Total Students</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded shadow-sm">
                <h5 class="mb-1">@Math.Round(Model.AverageSubmissionRate) %</h5>
                <small class="text-muted">Average Attendance</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-3 rounded shadow-sm">
                <h5 class="mb-1">@Model.SubmittedCount</h5>
                <small class="text-muted">Total Submitted</small>
            </div>
        </div>
    </div>

    <h5>Submission Students Detail</h5>
    <table class="table table-striped table-bordered align-middle">
        <thead class="table-light">
        <tr>
            <th>Student Name</th>
            <th>Content</th>
            <th>Grade</th>
            <th>SubmittedAt</th>
            <th>status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var detail in Model.Assigned)
        {
            <tr>
                <td>@detail.StudentName</td>
                <td>@detail.Submission?.Content</td>
                <td>@detail.Submission?.Grade</td>
                <td>@detail.Submission?.SubmittedAt</td>
                @if (detail.Submission == null)
                {
                    <td>
               <span class="badge bg-danger px-3 py-2">
                   Pending
               </span>

                    </td>
                }
                else
                {
                    <td>
               <span class="badge bg-success px-3 py-2">
                   Submitted
               </span>

                    </td>
                }
                <td>
                    @if (detail.Submission != null)
                    {
                        if (detail.Submission.Grade == null)
                        {
                            <button
                                hx-get
                                hx-controller="Homework"
                                hx-action="GetSubmissionFile"
                                hx-route-id="@detail.Submission.Id"
                                hx-target="#modal"
                                data-bs-toggle="modal"
                                data-bs-target="#modal"
                                class="btn btn-sm btn-outline-secondary">>
                                Marking
                            </button>
                        }
                    }
                    else if (detail.Submission == null)
                    {
                        <span class="badge  bg-danger px-3 py-2">
                   No Submission
                </span>
                    }
                    else
                    {
                        <span class="badge bg-success px-3 py-2">
                    Mark
                </span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>
