@using TuitionManagementSystem.Web.Features.Homework.GetAnnouncementInfo
@model TuitionManagementSystem.Web.Features.Homework.GetAnnouncementInfo.GetAnnouncementInfoResponse

@{
    var now = DateTime.UtcNow;
}

<div class="container py-4">
    <div class="bg-light p-4 rounded shadow-sm mb-3">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div>
                <h3 class="mb-1">@Model.CourseInfo.Subject : @Model.CourseInfo.CourseName</h3>
                <h5 class="text-muted mb-0">@Model.TeacherName</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="bg-white border rounded p-3" style="max-height: 420px; overflow-y: auto;">
                <h5 class="mb-3">Upcoming</h5>
                @foreach (var announcement in Model.AnnouncementInfos)
                {
                    if (announcement is AssignmentInfo assignment)
                    {
                        if (now < assignment.DueAt)
                        {
                            <li class="list-group-item">@assignment.DueAt - @assignment.Title</li>
                        }
                    }
                }
            </div>
        </div>


        <div class="col-md-8">
            <div class="row gy-4">
                <div class="col-12">

                    @foreach (var announcement in Model.AnnouncementInfos
                                      .OrderByDescending(a => a.CreatedAt))
                    {
                        if (announcement is AssignmentInfo assignment)
                        {
                            @if (assignment.DueAt > now)
                            {
                                <a asp-controller="Homework"
                                   asp-action="AnnouncementDetail"
                                   asp-route-announcementId="@announcement.Id"
                                   class="text-decoration-none text-dark">
                                    <div class="card shadow-sm mt-3">
                                        <div class="card-body">

                                            <h5 class="card-title mb-2">@announcement.Title</h5>
                                            <p class="card-text">@announcement.Description</p>
                                            <small class="text-muted">
                                                @assignment.DueAt
                                            </small>

                                            <div class="container">
                                                @foreach (var path in announcement.AttechmentFiles)
                                                {
                                                    <div class="row mb-3">
                                                        <div class="col -5">
                                                            <a id="file-block-@(path.Id)" href="@path.MappedPath"
                                                               class="card d-flex flex-row align-items-center p-2"
                                                               target="_blank"
                                                               style="text-decoration: none;">

                                                                <input type="hidden" name="fileIds" value="@path.Id"/>

                                                                @if (path.MimeType.StartsWith("image"))
                                                                {
                                                                    <img src="@path.MappedPath" alt="Image"
                                                                         class="img-thumbnail me-3"
                                                                         style="width: 80px; height: auto;"/>

                                                                    <div class="card-body p-0">
                                                                        <h5 class="card-title mb-1">@path.FileName</h5>
                                                                        <small
                                                                            class="card-subtitle text-muted">Image</small>
                                                                    </div>
                                                                }
                                                                else if (path.MimeType.StartsWith("text"))
                                                                {
                                                                    <div class="card-body p-0">
                                                                        <h5 class="card-title mb-1">@path.FileName</h5>
                                                                        <small
                                                                            class="card-subtitle text-muted">Text</small>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="card-body p-0">
                                                                        <h5 class="card-title mb-1">@path.FileName</h5>
                                                                        <small
                                                                            class="card-subtitle text-muted">File</small>
                                                                    </div>
                                                                }

                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <div class="card shadow-sm mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title mb-2">@announcement.Title</h5>
                                        <p class="card-text">@announcement.Description</p>
                                        <div class="container">
                                            @foreach (var path in assignment.AttechmentFiles)
                                            {
                                                <div class="row mb-3">
                                                    <div class="col -5">
                                                        <a id="file-block-@(path.Id)" href="@path.MappedPath"
                                                           class="card d-flex flex-row align-items-center p-2"
                                                           target="_blank"
                                                           style="text-decoration: none;">

                                                            <input type="hidden" name="fileIds" value="@path.Id"/>

                                                            @if (path.MimeType.StartsWith("image"))
                                                            {
                                                                <img src="@path.MappedPath" alt="Image"
                                                                     class="img-thumbnail me-3"
                                                                     style="width: 80px; height: auto;"/>

                                                                <div class="card-body p-0">
                                                                    <h5 class="card-title mb-1">@path.FileName</h5>
                                                                    <small
                                                                        class="card-subtitle text-muted">Image</small>
                                                                </div>
                                                            }
                                                            else if (path.MimeType.StartsWith("text"))
                                                            {
                                                                <div class="card-body p-0">
                                                                    <h5 class="card-title mb-1">@path.FileName</h5>
                                                                    <small
                                                                        class="card-subtitle text-muted">Text</small>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="card-body p-0">
                                                                    <h5 class="card-title mb-1">@path.FileName</h5>
                                                                    <small
                                                                        class="card-subtitle text-muted">File</small>
                                                                </div>
                                                            }

                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>


