@using TuitionManagementSystem.Web.Features.Homework.GetAnnouncementInfo
@model TuitionManagementSystem.Web.Features.Homework.GetAnnouncementInfo.GetAnnouncementInfoResponse


@{
    var now = DateTime.UtcNow;
}

<div class="container py-4">
    <div class="bg-light p-4 rounded shadow-sm mb-3">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div>
                <h3 class="mb-1">@Model.CourseInfo.Subject : @Model.CourseInfo.CourseName</h3>
                <h5 class="text-muted mb-0">@Model.TeacherName</h5>
            </div>
        </div>
    </div>

    <div class="d-flex gap-2"
         id="announcement-actions-@(Model.CourseInfo.CourseId)">
        <button hx-get
                hx-controller="Homework"
                hx-action="GetMakeAnnouncementModal"
                hx-route-id="@Model.CourseInfo.CourseId"
                hx-target="#modal"
                data-bs-toggle="modal"
                data-bs-target="#modal"
                class="btn btn-sm btn-primary">
            New Announcement
        </button>

        <a asp-controller="Homework"
           asp-action="SubmissionList"
           asp-route-courseId="@Model.CourseInfo.CourseId">
            View Submission Status
        </a>
    </div>


    <div class="row">
        <div class="col-md-4 mb-4 mt-3">
            <div class="bg-white border rounded p-3" style="max-height: 420px; overflow-y: auto;">
                <h5 class="mb-3">Upcoming</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var announcement in Model.AnnouncementInfos)
                    {
                        if (announcement is AssignmentInfo assignment)
                        {
                            if (now < assignment.DueAt)
                            {
                                <li class="list-group-item">@assignment.DueAt - @assignment.Title</li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>


        <div class="col-md-8">
            <div class="row gy-4">
                <div class="col-12">
                    @foreach (var announcement in Model.AnnouncementInfos
                                      .OrderByDescending(a => a.CreatedAt))
                    {
                        if (announcement is AssignmentInfo assignment)
                        {
                            @if (assignment.DueAt > now)
                            {
                                    <div class="card shadow-sm mt-3">
                                        <div class="card-body">
                                            <h5 class="card-title mb-2">@announcement.Title</h5>
                                            <p class="card-text">@announcement.Description</p>
                                            <small class="text-muted">
                                                @assignment.DueAt
                                            </small>
                                            <div id="submissionCarousel" class="carousel slide">
                                                <partial name="../File/_File" model="assignment.SubmissionFiles"/>
                                            </div>
                                        </div>
                                    </div>
                            }
                            else
                            {
                                <div class="card shadow-sm mt-3">
                                    <div class="card-body">
                                        <h5 class="card-title mb-2">@announcement.Title</h5>
                                        <p class="card-text">@announcement.Description</p>
                                    </div>
                                    <div id="submissionCarousel" class="carousel slide">
                                        <partial name="../File/_File" model="assignment.SubmissionFiles"/>
                                    </div>
                                </div>

                            }
                        }
                    }
                </div>
            </div>
        </div>


    </div>
</div>

