@model TuitionManagementSystem.Web.Features.Attendance.GetTeacherDailySessions.GetTeacherDailySessionsResponse

@{
    ViewData["Title"] = "Generate Attendance";
    var timezone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Kuala_Lumpur");
}

<div class="mb-3">
    <button type="button"
            class="btn btn-sm btn-outline-secondary d-inline-flex align-items-center gap-1"
            onclick="window.history.back();">
        <i class="fas fa-arrow-left"></i>
        Back
    </button>
</div>
<div>
    <h3>Attendance Management </h3>
</div>

<div class="container mt-4">
    @foreach (var (i, course) in Model.Courses.Index())
    {
        <div class="list-group">
            <div class="list-group-item ">
                <h5>@course.SubjectName : @course.Name</h5>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary btn-sm"
                            data-bs-toggle="collapse"
                            data-bs-target="#sessions@(i)" aria-expanded="false" aria-controls="sessions@(i)">
                        <i class="fa-solid fa-angle-down me-2"></i> Toggle Sessions
                    </button>

                    <button
                        hx-get
                        hx-controller="Session"
                        hx-action="GetStartSessionModal"
                        hx-route-id="@course.Id"
                        hx-target="#modal"
                        type="button"
                        class="btn btn-primary btn-sm"
                        data-bs-toggle="modal" data-bs-target="#modal">
                        <i class="fa-solid fa-plus me-2"></i> Start New Session
                    </button>
                </div>

                <div class="collapse" id="sessions@(i)">
                    @if (course.Sessions.Count == 0)
                    {
                        <div class="list-group mt-3">
                            No Sessions Found
                        </div>
                    }
                    @foreach (var session in course.Sessions)
                    {
                        <a asp-controller="Session" asp-action="ViewStudentsAttendance" asp-route-id="@session.Id">
                            <div class="list-group mt-3">

                                <div class="list-group-item d-flex justify-content-between">
                                    <h6>Session Time : @TimeZoneInfo.ConvertTimeFromUtc(session.StartAt, timezone)
                                        to @TimeZoneInfo.ConvertTimeFromUtc(session.EndAt, timezone)</h6>

                                    <div class="btn-group btn-group-sm">
                                        <button
                                            hx-post
                                            hx-controller="Session"
                                            hx-action="GenerateAttendanceCodeHtmx"
                                            hx-route-id="@session.Id"
                                            hx-target="#modal"
                                            type="submit"
                                            class="btn btn-secondary"
                                            data-bs-toggle="modal" data-bs-target="#modal">
                                            <span id="code-button@(session.Id)">
                                                @(session.Code ?? "Generate")
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>




