@model TuitionManagementSystem.Web.Features.Authentication.Login.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div>
        @Html.LabelFor(m => m.RememberMe)
        @Html.CheckBoxFor(m => m.RememberMe)
    </div>

    <button type="submit">Login</button>

    @Html.ValidationMessage("Invalid")
}


