@model TuitionManagementSystem.Web.Features.Attendance.SessionStudentList.GetSessionStudentListResponse
@{
    ViewData["Title"] = "Student Management";
}

<h2>Student Management</h2>

<table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model.StudentList)
    {
        <tr>
            <td>@student.StudentId</td>
            <td>@student.Name</td>
            <td>
                <div>
                    @if (student.Status == "Attend")
                    {
                        <span id="status-@student.StudentId" class="badge bg-success">@student.Status</span>
                    }
                    else if (student.Status == "NotTaken")
                    {
                        <span id="status-@student.StudentId" class="badge bg-warning text-dark">@student.Status</span>
                    }
                    else if (student.Status == "Absent")
                    {
                        <span id="status-@student.StudentId" class="badge bg-danger">@student.Status</span>
                    }
                    else
                    {
                        <span id="status-@student.StudentId" class="badge bg-secondary">@student.Status</span>
                    }

                </div>
            </td>
            <td>
                <button
                    hx-post="/attendance/take"
                    hx-vals='{"id": "@Model.SessionId", "userId": "@student.StudentId"}'
                    hx-target="#takecode-modal"
                    type="submit"
                    class=""
                    data-bs-toggle="modal" data-bs-target="#takecode-modal">
                    <i class="fa-solid fa-handshake-angle"></i>
                </button>
                @* <button hx-post *@
                @*         hx-controller="Attendance" *@
                @*         hx-action="Delete" *@
                @*         hx-route-id="@student.AttendanceId" *@
                @*         hx-target="#deletecode-modal" *@
                @*         type="submit" *@
                @*         class="" *@
                @*         data-bs-toggle="modal" data-bs-target="#code-modal"> *@
                @*     <i class="fa-solid fa-delete-left"></i> *@
                @* </button> *@
            </td>

        </tr>
    }

    </tbody>
</table>

<div id="takecode-modal" class="modal"
     aria-hidden="false"
     tabindex="-1"
>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>





