@model TuitionManagementSystem.Web.Features.Attendance.TeacherDailySessionList.GetTeacherDailySessionListResponse

@{
    ViewData["Title"] = "Generate Attendance";
    var timezone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Kuala_Lumpur");
}

<div>
    <h3>Attendance Management </h3>
</div>

<div class="container mt-4">
    @foreach (var (i, course) in Model.Courses.Index())
    {
        <div class="list-group">
            <div class="list-group-item ">
                <h5>@course.SubjectName : @course.Name</h5>

                <button class="btn btn-primary btn-sm"

                        data-bs-toggle="collapse"
                        data-bs-target="#sessions@(i)" aria-expanded="false" aria-controls="sessions@(i)">
                    Toggle Sessions
                </button>

                <div class="collapse" id="sessions@(i)">
                    @if (course.Sessions.Count == 0)
                    {
                        <div class="list-group mt-3">
                            No Sessions Found
                        </div>
                    }
                    @foreach (var session in course.Sessions)
                    {
                        <a asp-controller="Attendance" asp-action="CourseSessionListing" asp-route-id="@session.Id">
                            <div class="list-group mt-3">

                                <div class="list-group-item d-flex justify-content-between">
                                    <h6>Session Time : @TimeZoneInfo.ConvertTimeFromUtc(session.StartAt, timezone)
                                        to @TimeZoneInfo.ConvertTimeFromUtc(session.EndAt, timezone)</h6>

                                    <div class="btn-group btn-group-sm">
                                        <button
                                            hx-post
                                            hx-controller="Attendance"
                                            hx-action="Generate"
                                            hx-route-id="@session.Id"
                                            hx-target="#code-modal"
                                            type="submit"
                                            class="btn btn-secondary"
                                            data-bs-toggle="modal" data-bs-target="#code-modal">
                                            <span id="code-button@(session.Id)">
                                                @(session.Code ?? "Generate")
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div id="code-modal" class="modal"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>



